<template name="header">
  <div class="pager">
    <div class="row" style="width: 50%">
      <div class="col-lg-5" style="margin-bottom: 10px">
        <div class="input-group">
          <input type="text" class="form-control" id="newIdea">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="addIdea">Add Idea</button>
          </span>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="input-group">
          <input type="text" class="form-control" id="newGroup">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="addGroup">Add Group</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
